.buttonContainer {
  background-color: rgba(165, 176, 193, 0.204);
  border-radius: 5px;
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttonContainer > p {
  margin: 0;
  font-size: 1.5em;
}

button {
  font-size: 0.75em;
}