.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cardStyles {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
  width: 29%;
  max-height: 50vh;
  margin: 0.5rem;
  padding: 1rem;
  background-color: white;
}

img {
  width: 150px;
  height: 175px;
}